<!doctype html>
<html lang="en-US">
<head title="brand-scraper report">

  <style>
    body {
      font-family: monospace;
    }
    #iframe{
      width:100%;
      height: 800px;
    }
    svg {
      position: relative;
      z-index: 1;
      border-radius: 4px;
      box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.12);
    }

    #test {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .palette{
      flex-direction: row;
      display: flex;
      padding: 25px;
      justify-content: space-evenly;
    }
    .swatch {
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 20px;
      display: flex;
      justify-content: left;
      align-items: center;
      flex-direction: column;
    }

    .swatch .caption {
      padding: 20px;
    }

    .swatch .box {
      width: 100px;
      height: 100px;
    }

    .resources img {
      max-width: 200px;
    }

  </style>
  <title></title>
</head>
<body>

<div id="test">
  <article class="webpage">
    <header>
      <h3><a href="{{url}}">{{url}}</a></h3>
      <h2>Scraping time: {{totalTime}}s.</h2>
    </header>
    <section class="resources">
      <a href="{{logo}}" target="blank">
        <img src="{{logo}}" alt={{logo}}>
      </a>

      <a href="{{icon}}" target="blank">
        <img src="{{icon}}" alt={{icon}}>
      </a>

      <a href="{{screenshot}}" target="blank">
        <img src="{{screenshot}}" alt={{screenshot}}>
      </a>
    </section>
    <section class="palette">
      <div class="swatch">
        <div class="box" style="background-color:{{mainColor}}"></div>
        <span class="caption">
          {{mainColor}}
        </span>
      </div>
      <div class="swatch">
        <div class="box" style="background-color:{{secondaryColor}}"></div>
        <span class="caption">  {{secondaryColor}}</span>

      </div>
      <div class="swatch">
        <div class="box" style="background-color:{{backgroundColor}}"></div>
        <span class="caption">
          {{backgroundColor}}
        </span>
      </div>

    </section>
  </article>
  <article class="preview">
    <svg xmlns="http://www.w3.org/2000/svg" width="560" height="360" viewBox="0 0 560 360">
      <g transform="translate(-720 -260) translate(720 158) translate(0 102)">
        <rect width="560" height="360" fill="#FFF" rx="4"></rect>
        <rect width="550" height="350" x="4.833" y="4.667" fill="#FFF" rx="4"></rect>
        <path d="M9 5h542c2.21 0 4 1.79 4 4v116H5V9c0-2.21 1.79-4 4-4z" color="#DEE3EC"
              style="fill: {{backgroundColor}};"></path>
        <path stroke="#D3D5DA" stroke-dasharray="0 4" stroke-linecap="round" d="M550 125H10h540z" hidden=""></path>
        <g transform="translate(16 16)">
          <image href="{{logo}}" height="24"
                 width="100" preserveAspectRatio="xMinYMid meet" opacity="1"
                 style="transform: none; transform-origin: 50px 12px;"></image>
        </g>
        <g transform="translate(160 53)" style="fill: white;">
          <rect width="240" height="24" rx="12" class=""></rect>
          <path d="M182 0h46c6.627 0 12 5.373 12 12s-5.373 12-12 12h-46V0z" color="#176AE5" style="fill:{{mainColor}};"></path>
        </g>
        <g transform="translate(77.833 309.667)">
          <path fill="{{mainColor}}"
                d="M15.75 0c.322 0 .583.261.583.583v17.5c0 .322-.26.584-.583.584H.583c-.322 0-.583-.262-.583-.584V.583C0 .261.261 0 .583 0H15.75zm-.583 1.167h-14V17.5h14V1.167zm-10.5 6.416c-.322 0-.584-.26-.584-.583 0-.322.262-.583.584-.583h7c.322 0 .583.26.583.583 0 .322-.261.583-.583.583h-7zm0 4.667c-.322 0-.584-.261-.584-.583 0-.322.262-.584.584-.584h7c.322 0 .583.262.583.584 0 .322-.261.583-.583.583h-7z"
                color="#176AE5"></path>
          <rect width="159" height="3" x="30.167" y="7.333" fill="#D3D5DA" rx="1.5"></rect>
        </g>
        <g transform="translate(77.833 277.667)">
          <path fill="{{mainColor}}"
                d="M15.75 0c.322 0 .583.261.583.583v17.5c0 .322-.26.584-.583.584H.583c-.322 0-.583-.262-.583-.584V.583C0 .261.261 0 .583 0H15.75zm-.583 1.167h-14V17.5h14V1.167zm-10.5 6.416c-.322 0-.584-.26-.584-.583 0-.322.262-.583.584-.583h7c.322 0 .583.26.583.583 0 .322-.261.583-.583.583h-7zm0 4.667c-.322 0-.584-.261-.584-.583 0-.322.262-.584.584-.584h7c.322 0 .583.262.583.584 0 .322-.261.583-.583.583h-7z"
                color="#176AE5"></path>
          <rect width="118" height="3" x="30.167" y="7.333" fill="#D3D5DA" rx="1.5"></rect>
        </g>
        <g transform="translate(360 149)">
          <path fill="#E3E5E9" fill-rule="nonzero"
                d="M124 0c2.21 0 4 1.79 4 4v80c0 2.21-1.79 4-4 4H4c-2.21 0-4-1.79-4-4V4c0-2.21 1.79-4 4-4h120zm0 1H4C2.402 1 1.096 2.249 1.005 3.824L1 4v80c0 1.598 1.249 2.904 2.824 2.995L4 87h120c1.598 0 2.904-1.249 2.995-2.824L127 84V4c0-1.598-1.249-2.904-2.824-2.995L124 1z"></path>
          <rect width="50" height="3" x="39" y="60" fill="#D3D5DA" rx="1.5"></rect>
          <path d="M68.54 30.512c0 2.676-2.123 4.853-4.75 4.853-2.628 0-4.75-2.177-4.75-4.853 0-2.676 2.122-4.853 4.75-4.853 2.627 0 4.75 2.177 4.75 4.853zm-1.5 0c0-1.856-1.46-3.353-3.25-3.353-1.791 0-3.25 1.497-3.25 3.353s1.459 3.353 3.25 3.353c1.79 0 3.25-1.497 3.25-3.353zm-1.292 11.57l-1.62-1.964-.634.002-1.632 1.954c-.222.266-.597.345-.908.191L56.573 40.1c-.295-.145-.46-.466-.409-.79l.416-2.608-.416-.554-2.456-.187c-.33-.026-.603-.263-.675-.585l-1.099-4.938c-.076-.34.093-.688.408-.839l2.108-1.011.111-.576-1.457-1.764c-.224-.27-.23-.66-.014-.938l3.181-4.092c.212-.272.58-.365.896-.226l2.212.978.617-.26.71-2.482c.093-.322.387-.544.722-.544h4.864c.336 0 .63.224.722.547l.718 2.556.513.252 2.2-1.045c.317-.15.697-.06.913.217l2.958 3.802c.2.26.21.619.024.888l-1.507 2.174.118.571 2.312 1.22c.299.157.455.495.382.825l-1.075 4.831c-.073.33-.358.57-.696.586l-2.574.123-.39.467.466 2.648c.057.328-.108.655-.407.802l-4.31 2.13c-.313.154-.69.073-.911-.196zM57.733 39l3.356 1.659 1.478-1.768c.142-.17.351-.268.572-.27l1.338-.005c.225 0 .438.1.581.273l1.469 1.78 3.274-1.617-.43-2.437c-.038-.218.022-.442.164-.611l.825-.988c.135-.16.33-.258.54-.268l2.33-.11.826-3.713-2.117-1.117c-.198-.104-.339-.292-.384-.51l-.256-1.233c-.042-.201 0-.411.118-.58l1.376-1.986-2.249-2.891-1.982.942c-.207.098-.448.097-.654-.005l-1.138-.56c-.191-.094-.333-.265-.391-.47l-.656-2.33h-3.73l-.654 2.283c-.062.218-.22.396-.43.484l-1.246.526c-.19.08-.406.078-.594-.006l-1.973-.87-2.453 3.154 1.3 1.573c.143.173.2.4.158.62l-.25 1.294c-.046.233-.198.431-.412.534l-1.911.917.848 3.813 2.24.171c.216.017.414.125.544.298l.81 1.08c.122.163.173.368.14.569L57.734 39z"
                fill="{{secondaryColor}}"></path>
        </g>
        <g transform="translate(216 149)">
          <path fill="#E3E5E9" fill-rule="nonzero"
                d="M124 0c2.21 0 4 1.79 4 4v80c0 2.21-1.79 4-4 4H4c-2.21 0-4-1.79-4-4V4c0-2.21 1.79-4 4-4h120zm0 1H4C2.402 1 1.096 2.249 1.005 3.824L1 4v80c0 1.598 1.249 2.904 2.824 2.995L4 87h120c1.598 0 2.904-1.249 2.995-2.824L127 84V4c0-1.598-1.249-2.904-2.824-2.995L124 1z"></path>
          <rect width="40" height="3" x="43" y="60" fill="#D3D5DA" rx="1.5"></rect>
          <path d="M59.125 30.45c-2.879 0-5.213-2.334-5.213-5.213 0-2.878 2.334-5.212 5.213-5.212s5.212 2.334 5.212 5.212c0 2.88-2.333 5.213-5.212 5.213zm0-1.5c2.05 0 3.712-1.662 3.712-3.713 0-2.05-1.662-3.712-3.712-3.712-2.05 0-3.713 1.662-3.713 3.712 0 2.05 1.663 3.713 3.713 3.713zm-6.6 10.425c0 .414-.336.75-.75.75s-.75-.336-.75-.75c0-4.474 3.626-8.1 8.1-8.1s8.1 3.626 8.1 8.1c0 .414-.336.75-.75.75s-.75-.336-.75-.75c0-3.645-2.955-6.6-6.6-6.6-3.645 0-6.6 2.955-6.6 6.6zM66.75 22.563c-.298.288-.773.279-1.06-.02-.288-.298-.279-.772.02-1.06 1.882-1.815 4.837-1.953 6.886-.3 2.2 1.776 2.583 4.982.864 7.226-1.72 2.243-4.914 2.708-7.204 1.044-.217-.16-.42-.334-.61-.524-.294-.293-.294-.768-.002-1.06.293-.294.768-.294 1.06-.002.138.137.284.263.437.375 1.628 1.183 3.904.852 5.128-.746 1.224-1.598.951-3.88-.615-5.145-1.46-1.177-3.564-1.079-4.904.212zm.689 10.485c-.397.118-.815-.108-.933-.505-.118-.397.108-.814.505-.932 2.452-.729 5.103-.257 7.153 1.271 2.05 1.529 3.26 3.935 3.261 6.492 0 .415-.335.75-.75.751-.414 0-.75-.335-.75-.75-.001-2.084-.986-4.045-2.657-5.29-1.671-1.246-3.832-1.63-5.83-1.037z"
                fill="{{secondaryColor}}"></path>
        </g>
        <g transform="translate(72 149)">
          <path fill="#E3E5E9" fill-rule="nonzero"
                d="M124 0c2.21 0 4 1.79 4 4v80c0 2.21-1.79 4-4 4H4c-2.21 0-4-1.79-4-4V4c0-2.21 1.79-4 4-4h120zm0 1H4C2.402 1 1.096 2.249 1.005 3.824L1 4v80c0 1.598 1.249 2.904 2.824 2.995L4 87h120c1.598 0 2.904-1.249 2.995-2.824L127 84V4c0-1.598-1.249-2.904-2.824-2.995L124 1z"></path>
          <rect width="70" height="3" x="28" y="60" fill="#D3D5DA" rx="1.5"></rect>
          <path d="M67.001 22.436l2.412-2.411c1.201-1.202 5.518-2.613 6.363-1.768.846.845-.565 5.162-1.767 6.364l-2.411 2.411c.055 1.542-.497 3.051-1.567 4.218l-3.077 3.077c.934 1.586.941 4.362-.458 5.762l-3.006 3.005c-.585.586-1.535.586-2.12 0l-1.592-1.591c-.586-.586-.586-1.535 0-2.121l1.238-1.238 4.402-4.401.017-.018.018-.017 3.495-3.495c.784-.856 1.195-1.985 1.15-3.139l-3.139-3.139c-1.153-.045-2.28.364-3.115 1.128l-9.192 9.192c-.586.586-1.536.586-2.122 0l-1.59-1.59c-.586-.587-.586-1.536 0-2.122l3.005-3.005c1.4-1.4 4.176-1.393 5.762-.459l3.1-3.1c1.144-1.048 2.653-1.6 4.194-1.543zm1.35.77l2.476 2.476 2.121-2.122c.345-.345.854-1.396 1.232-2.553.179-.548.31-1.065.372-1.457l.012-.08-.08.011c-.392.061-.91.194-1.458.373-1.156.378-2.208.887-2.553 1.231l-2.121 2.122zm-13.523 8.751l3.763-3.762c-1.073-.426-2.803-.38-3.586.403L52 31.604l1.591 1.59 1.237-1.237zm11.01 3.485l-5 5 1.592 1.591 3.005-3.005c.783-.783.83-2.512.404-3.586zm-.668-2.866l-6.099 6.099c-.586.585-1.535.585-2.121 0l-1.591-1.591c-.586-.586-.586-1.536 0-2.122l6.099-6.098c.958-.958 3.354-1.242 4.154-.442.8.8.516 3.196-.442 4.154zm-1.06-1.06c.42-.421.593-1.882.441-2.034-.151-.151-1.613.022-2.033.442l-6.099 6.099 1.591 1.591 6.1-6.099z"
                fill="{{secondaryColor}}"></path>
        </g>
      </g>
    </svg>


  </article>
</div>
<iframe id="iframe" src="{{url}}" title="{{url}}"></iframe>
</body>
</html>
